# Ignore all files under runs/
runs/
datasets/
test_sample_images/
test_sample/video/
__image_predictions/
__video_predictions/
YOLOv11_FireDetection/__image_predictions/
YOLOv11_FireDetection/__video_predictions/
YOLOv11_FireDetection/*.pt
*.pt
**/*.pt
